<!-- Success Notification -->
<div *ngIf="showSuccessNotification" class="success-notification-container">
  <h2>نجاح!</h2>
  <p>تم إعادة تعيين كلمة المرور بنجاح.</p>
  <button class="btn-home" (click)="navigateHome()">الصفحه الرئيسيه</button>
</div>

<div [ngClass]="{'reset-password-container': true, 'blur': showSuccessNotification}">
  <h2>تعيين كلمة مرور جديدة</h2>
  <p>يجب أن تكون كلمة المرور الخاصة بك مختلفة عن كلمة المرور المستخدمة السابقة</p>

  <!-- Password Field with Toggle Visibility -->
  <div class="form-group">
      <label for="password">كلمة المرور</label>
      <input
          [(ngModel)]="password"
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          placeholder="كلمة المرور"
      />
      <i class="eye-icon" (click)="togglePasswordVisibility()">👁</i>
  </div>

  <!-- Confirm Password Field with Toggle Visibility -->
  <div class="form-group">
      <label for="confirm-password">تأكيد كلمة المرور</label>
      <input
          [(ngModel)]="confirmPassword"
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirm-password"
          placeholder="تأكيد كلمة المرور"
          (input)="checkPasswordMatch()"  
      />
      <i class="eye-icon" (click)="toggleConfirmPasswordVisibility()">👁</i>
  </div>

  <!-- Display error message if passwords do not match -->
  <div *ngIf="passwordMismatch" style="color: red;">
      كلمتا المرور لا يطابقان
  </div>

  <button class="btn-confirm" (click)="onResetPassword()" [disabled]="passwordMismatch">تأكيد</button>
</div>