<ion-header>
  <ion-toolbar color="gray">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text="" style="color: #000000;"></ion-back-button>
    </ion-buttons>
    <ion-title>نظام تحديد المواقع</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <!-- خريطة Google Maps كخلفية -->
  <div id="map" style="width: 100%; height: calc(100vh - 20vh);"></div> <!-- تقليل ارتفاع الخريطة لتشمل الكارد -->

  <!-- أيقونة الصوت بجانب الشاشة -->
  <div class="audio-icon" (click)="toggleAudio()">
    <ion-icon [name]="audioPlaying ? 'volume-high' : 'volume-mute'"></ion-icon>
  </div>

  <!-- الكارد الأول -->
  <ion-card class="route-info" *ngIf="!routeCalculated">
    <ion-item lines="none">
      <ion-label>
        <h2>المدرسة الابتدائية الثانية والثمانون...</h2>
        <p>أسرع مسار حركة المرور عادية</p>
      </ion-label>
    </ion-item>
    <ion-button expand="block" (click)="startTracking()">بدء</ion-button>
  </ion-card>

  <!-- الكارد الثاني (أصغر حجماً) -->
  <ion-card class="route-info minimized" *ngIf="routeCalculated">
    <div class="route-header">
      <ion-label>
        <p>الوقت الإجمالي: {{estimatedTime}}</p>
        <p>المسافة: {{distance}} كيلومتر</p>
      </ion-label>
      <ion-button class="exit-button" (click)="exitRoute()">خروج</ion-button>
    </div>
  </ion-card>
</ion-content>

