<ion-content class="ion-padding" [fullscreen]="true" dir="rtl">
  <img src="assets/LOGO.png" height="300" width="300" />

  <ion-card>
    <ion-card-content>
      <form [formGroup]="credentials" (ngSubmit)="login()">
        
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-label position="stacked" class="names">الايميل</ion-label>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Name@example.com"
            required>
          </ion-input>
          <ion-note color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <small>ادخل الايميل بالصيغة الصحيحة</small>
          </ion-note>
        </ion-item>

        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-label position="stacked" class="names">كلمة المرور</ion-label>
          <ion-input
            [type]="passwordFieldType"
            formControlName="password"
            required
            placeholder="********">
          </ion-input>
          <ion-icon
            slot="end"
            [name]="passwordFieldType === 'password' ? 'eye-off' : 'eye'"
            (click)="togglePasswordVisibility()"
            class="password-toggle-icon">
          </ion-icon>
          <ion-note color="danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <small>كلمة المرور يجب أن تحتوي على 8 أحرف على الأقل</small>
          </ion-note>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!credentials.valid">
          تسجيل الدخول
        </ion-button>

        <ion-button expand="block" type="button" (click)="goToSignUp()">
          تسجيل حساب جديد
        </ion-button>

        <!-- Forgot Password Button -->
        <ion-button class="forgetPassword" fill="clear" type="button" (click)="gotoforgetpassword()">
          هل نسيت كلمة المرور؟
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
