<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  
  <div  class="profile-section">
    <ion-avatar class="custom-avatar">
      <img [src]="driverImage || 'assets/userPic.png'" alt="صورة السائق">
    </ion-avatar>
    <p class="parent-name">{{ driverName || 'سائق الباص' }}</p>
  </div>
  

  <div class="messages-section">
    <div *ngFor="let message of messages" class="message">
      <p>{{ message.text }}</p>
      <small>{{ message.time }}</small>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border message-footer">
  <ion-toolbar>
    <div class="message-box">
      <ion-buttons slot="start">
        <ion-button class="inside-icon" (click)="triggerFileInput()">
          <ion-icon class="yellow-icon" name="attach-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-input placeholder="...اكتب رسالة" [(ngModel)]="newMessage" class="message-input" (ionInput)="checkInput()"></ion-input>
      <ion-buttons slot="end">
        <ion-button class="inside-icon" [disabled]="!canSendMessage" (click)="sendMessage()">
          <ion-icon class="yellow-icon" name="send-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
