<!-- Main content -->
<div class="ion-page" id="main-content">
  <!-- Header with Menu button -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home" text="" style="color: #ffd600;"></ion-back-button>
      </ion-buttons>
      <ion-title class="t1" slot="end">تنبيهات الطوارئ</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content section -->
  <ion-content [fullscreen]="true" dir="rtl" class="white-background">
    
    <!-- Conditionally display the image if there are no messages -->
    <div *ngIf="emergencyMessages.length === 0" class="image-container">
      <img src="assets/message.png" alt="My Image" class="background-image">
    </div>
    
    <!-- Display emergency messages if they exist -->
     <ion-card class="emergency-notif">
    <ng-container *ngIf="emergencyMessages.length > 0; else noMessages">
      <!-- List of emergency messages -->
      <ion-list>
        <ion-item *ngFor="let message of emergencyMessages">
          <ion-label>
            <h2>
              <ion-icon name="alert-circle" color="danger" style="margin-right: 8px;"></ion-icon>
              {{ message.title }}
            </h2>
            <small>{{ message.timestamp.toDate() | date:'short' }}</small>
            <p class="message">{{ message.message }}</p>
            <p>{{ message.address }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Display user address after geocoding -->
      <!-- <div *ngIf="userAddress">
        <p>العنوان: {{ userAddress }}</p>
      </div> -->
    </ng-container>
  </ion-card>
    <!-- Template for no messages -->
    <ng-template #noMessages>
      <p class="no-messages">لا توجد رسائل طوارئ حالياً.</p>
    </ng-template>
    
  </ion-content>
</div>
