<!-- Menu on the left -->
<ion-menu side="start" content-id="main-content" class="custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
    
  </ion-header>

  <ion-content class="ion-padding" dir="rtl">
    <!-- List of menu items -->
    <ion-list>

      <!-- Settings -->
      <ion-item button routerLink="/settings">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>الإعدادات</ion-label>
      </ion-item>

      <!-- Log Out -->
      <ion-item button button class="logout-button">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label> تسجيل الخروج</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main content -->
<div class="ion-page" id="main-content">
  <!-- Header with Menu button -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="t1" slot="end">تنبيهات الطوارئ</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content [fullscreen]="true" dir="rtl" class="white-background">

      <!-- Image centered -->
      <div class="image-container">
        <img src="assets/message.png" alt="My Image" class="background-image">
      </div>
    
      <!-- Overlay text below the image -->
      <div class="overlay-text">لا يوجد اشعارات طوارئ حاليا</div>
    
      <!-- Buttons positioned at the bottom -->
      <div class="button-container">
        <ion-button expand="block" type="submit"(click)=" sendEmergencyNotification()">
          ارسال اشعار طوارئ
        </ion-button>
    
        <ion-button expand="block" type="button" (click)="goToHomePage()">
          العودة للصفحة الرئيسية
        </ion-button>
      </div>
    
    </ion-content>
    
    
    
  
    




  

