<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text="" style="color: #000000;"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">تعديل الملف الشخصي</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <!-- Profile Picture Section -->
    <div class="profile-picture" (click)="selectProfilePicture()">
      <ion-avatar class="profile-avatar">
        <img [src]="driverInfo?.profileImageUrl || 'assets/default-profile.png'" alt="">
        <ion-icon name="camera-outline" class="camera-icon"></ion-icon>
      </ion-avatar>
    </div>

    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" accept="image/*"/>

    <!-- Form Section -->
    <ion-card dir="rtl" >
      <ion-card-content>
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-label position="stacked">الاسم</ion-label>
          <ion-input type="text" [(ngModel)]="driverInfo.username"></ion-input>
        </ion-item>
    
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-label position="stacked">رقم الهوية</ion-label>
          <ion-input type="number" [(ngModel)]="driverInfo.idNumber"></ion-input>
        </ion-item>
    
        <ion-item fill="solid" class="ion-margin-bottom">
          <ion-label position="stacked">رقم الهاتف</ion-label>
          <ion-input type="tel" [(ngModel)]="driverInfo.phoneNumber"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    

    <!-- Button Section -->
    <ion-button expand="block" class="change-password-button" (click)="goToChangePassword()">
      تغيير كلمة المرور
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-button>

    <ion-button expand="block" class="save-changes-button" (click)="saveChanges()">
      حفظ التغييرات
    </ion-button>
  </div>
</ion-content>
