<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="right-aligned-title">إعادة تعيين كلمة المرور</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reset-password-container">
    <p class="instruction-text">
      اختر الطريقة التي تريد من خلالها إعادة تعيين كلمة المرور الخاصة بك
    </p>
    
    <!-- اضغط على الكارد لتحديده -->
    <ion-card class="phone-option" [class.selected]="isPhoneSelected" (click)="selectPhoneOption()">
      <ion-item lines="none">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label> رقم الهاتف</ion-label>
        <ion-text>* * ** 2345</ion-text>
      </ion-item>
    </ion-card>
    
    <!-- زر التحقق مع تعطيله إن لم يتم تحديد الكارد -->
    <ion-button expand="block" [disabled]="!isPhoneSelected" (click)="goToVerification()">تحقق</ion-button>
  </div>
</ion-content>